.searchbar-container
    display: inline-flex
    flex: 1 1 auto
    position: relative
    overflow: hidden

    height: 36px
    border-radius: 6px
    border: solid 1px #707070
    

    .search-icon
        height: 100%
        margin-left: 9px

        display: flex
        align-items: center
    .searchbar
        flex: 1

        border: 0
        margin-left: 7.8px
        font: 18px 'Spartan'

        &:focus
            outline: none
            
