.home-container
    h1
        text-align: center
        font: 35px 'Spartan'
        font-weight: 500
        line-height: 1.33
        letter-spacing: normal
        color: #707070

        @media screen and ( max-width: 504px )
            font-size: 24px
    
    iframe
        width: 100%
    
.news-container
    display: flex
    flex-direction: column
    align-items: center
    .new-item
        width: 730px
        margin-top: 1rem
        @media screen and ( max-width: 680px )
            width: auto
        @media screen and ( max-width: 504px )
            width: auto