.footer-container
    margin-top: 32px
    margin-bottom: 32px

    .about
        .about-item
            p
                letter-spacing: .5px                
                line-height: 1.6
    .brand
        margin-top: 16px
        .title
            font: 32px 'Alata'
        
        .links-list
            li
                list-style: none
                padding-bottom: 8px
                cursor: pointer
                color: #707070

                &:focus
                    outline: none

            li.active
                color: #000000