<div class="footer-container">
  <div class="about row">
    <div class="about-item col-lg-4 col-xs-12" *ngFor="let item of aboutList">
      <h2>{{ item.title }}</h2>
      <p>{{ item.content }}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="brand row">
    <div class="title col-lg-6 col-xs-12 start-lg center-xs">
      PANDEMIA21
    </div>
    <ul class="links-list row col-lg-6 col-xs-12 end-lg center-xs">
      <li
        *ngFor="let link of linksList"
        class="col-lg-2 col-xs-12"
        [routerLink]="[link.link]"
        routerLinkActive="active"
      >
        {{ link.text }}
      </li>
    </ul>
  </div>
</div>
